{% extends 'base.html' %}

{% block content %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Welcome!</strong> to the AuthWork .
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<div style="width: 700px">

<form action="{% url 'createaccount' %}" method="post" class="formgroup" enctype="multipart/form-data" runat='server'>
    {% csrf_token %}
    <input type="text" name="name" placeholder="Enter Name" class="form-control" required >
    <input type="text" name="last" placeholder="Enter last name" class="form-control" required>
    <input type="text" name="username" placeholder="Enter user name" class="form-control" required>
    <input type="text" name="email" placeholder="Enter Email"  class="form-control" required>
    <input type="password" name="Password" placeholder="Enter Password" class="form-control" required>
    <input type="date" name="dob" class="form-control" required >
    <input type="file" name="profile_pic" accept="image/*" class="form-control" required><br>
    <input  type="submit" class="btn btn-success" value="Sign Up">
    
</form>
</div>

{% if msg %}

<div class='alert alert-info'>
    <b>{{msg}}</b>
</div>

{% endif %}


{% endblock content %}
